*{
    margin: 0;
    padding: 0;
}

.card {
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    position: relative;
    top: 50px;
    left: 50px;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}